/** @format */
*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.box {
  width: 500px;
  margin: 0 auto;
  padding: 200px 0;
}

.burger {
  appearance: none;
}

.burger-btn {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cccccc;
  border-radius: 50%;
  cursor: pointer;
}
.burger-icon {
  position: relative;
}

.burger-icon,
.burger-icon::after,
.burger-icon::before {
  width: 40px;
  height: 4px;
  background-color: antiquewhite;
}

.burger-icon::after,
.burger-icon::before {
  content: "";
  position: absolute;
}

.burger-icon::after {
  top: 10px;
}

.burger-icon::before {
  top: -10px;
}

.burger:checked + .burger-btn .burger-icon {
  background-color: transparent;
}

.burger:checked + .burger-btn .burger-icon::after {
  top: 0;
  transform: rotate(45deg);
}

.burger:checked + .burger-btn .burger-icon::before {
  top: 0;
  transform: rotate(-45deg);
}
